[submodule "0x07-pointers_arrays_strings/0x07-pointers_arrays_strings/alx-low_level_programming"]
	path = 0x07-pointers_arrays_strings/0x07-pointers_arrays_strings/alx-low_level_programming
	url = https://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@github.com/deathstroke-Assassin/alx-low_level_programming
